pkgbase = zram-dinit
	pkgdesc = Dinit service for setting up zram swap
	pkgver = 1.1
	pkgrel = 1
	arch = any
	license = MIT
	depends = dinit
	backup = etc/dinit.d/config/zram.conf
	source = https://github.com/millennium-whoop/zram-dinit/releases/download/v1.1/zram-dinit-1.1.tar.gz
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	sha256sums = fcf923a63434e5571f7a98f500ecc37dc18f12f3a743132f7961210de6997703 zram-dinit-1.0-1-any.pkg.tar

pkgname = zram-dinit
